<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-category-add">
            <input name="userId" type="hidden" required th:value="${userId}">
            <div class="form-group">
                <label class="col-sm-3 control-label">视频分类:</label>
                <div class="col-sm-3">
                    <select name="categoryId" id="categoryId" class="form-control m-b">
                        <option th:each="categoryInfo,userStat:${categoryList}" th:value="${categoryInfo.id}" th:text="${categoryInfo.name}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/educationUser";
        $("#form-category-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/relationCategoryAdd", $('#form-category-add').serialize());
            }
        }
    </script>
</body>
</html>